Source: wfrog
Section: science
Priority: optional
Maintainer: Laurent Bovet <laurent.bovet@windmaster.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: htp://www.wfrog.org

Package: wfrog
Architecture: any
Depends: python (>=2.5), python-cheetah (>=2.0), python-lxml (>=1.1.1), python-usb (>=0.4), python-serial (>=2.3)
Description: Web-based customizable weather station software 
 wfrog is a python software for logging weather station data and statistics, 
 viewing them graphically on the web and sending them on a remote FTP site.
 The layout and behaviour is fully customizable through an advanced configuration system. 
 Currently supports Oregon Scientific WMR200, WMRS200 and WMR928NX stations and is compliant with the WESTEP protocol.
