[WxLogger]
LOG_FILENAME = /var/log/wflogger.log
;LOG_LEVEL = DEBUG
LOG_LEVEL = INFO
;LOG_LEVEL = WARNING
;LOG_LEVEL = ERROR 
LOG_SIZE=262144
LOG_BACKUPS=2
WEATHER_STATION = WMRS200
TIME_FORMAT = %Y-%m-%d %H:%M:%S

[WxProcess]
DATABASE = localhost:/var/lib/firebird/2.0/data/wfrog.db
SAMPLE_PERIOD = 300
WxDATA_FILENAME = /tmp/WxData.xml
WxDATA_ROOT = WxData

[WxParser]
ALTITUDE = 112.0
MEAN_TEMP = 15.0

[WMRS200]
; Usually UPDATE each 10/50 messages. 0 => no updates
CURRENT_CONDITIONS_UPDATE = 10
CURRENT_CONDITIONS_FILENAME = /tmp/current_conditions.xml
CURRENT_CONDITIONS_ROOT = WMRS200

[WMR928NX]
PORT_NUMBER = 0
; Usually UPDATE each 10/50 messages. 0 => no updates
CURRENT_CONDITIONS_UPDATE = 10
CURRENT_CONDITIONS_FILENAME = /tmp/current_conditions.xml
CURRENT_CONDITIONS_ROOT = WMR928NX
